.label {
    -fx-background-color: linear-gradient(to bottom right, #9b7bc0, #7d5ba6);
    -fx-border-color: #3E1F5E;
    -fx-border-width: 2px;
    -fx-text-fill: #3E1F5E;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-border-color: #b7ff00;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
    -fx-background-radius: 50%;
}

